body {
    background-color: rgb(156, 231, 133);
    font-family: Arial, Helvetica, sans-serif;
 
}
h1 {
color: rgb(18, 77, 0);
}
h1#principal{
    text-align: center;
    background-color: brown;
}
h2 {
    color: rgb(35, 148, 0);
}

.intermediario{
color: #ffff00;
}
.avançado{
   color:  #ff0000;
   font-weight: bold;
   text-decoration: underline;
}