* {
margin: 0;
padding: 0;

}
h1, p {
    text-align: center;
    
}

div{
    display: block;
    background-color: blueviolet;
    margin: auto;
    width: 404px;
   


}
img{
    margin-bottom: -5px;
   
    
}