* {
margin: 0;
padding: 0;

}
h1, p {
    text-align: center;
    padding: 20px;
    color: white;
    
}
main{
   
    background-color: blueviolet;
    margin: auto;
    width: 404px;


}

div{

   


}
img{
 
   
    
}