*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}
.container{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    gap: 200px;
    align-items: center;
    
   
}
.item{

    background-color: pink;
    
   
}
.item:nth-child(1){
height: 100px;
display: block;
}